:root {
    --primary-color: #3498db;    /* Azul */
    --secondary-color: #2ecc71;  /* Verde */
    --accent-color: #e74c3c;     /* Rojo */
    --background-color: #f4f4f4; /* Gris claro */
    --text-color: #333333;       /* Gris oscuro */
}
  
*,body{
    margin: 0;
    padding: 0;

}
.pagina{
    background-color: black;
}